<div class="header">
  <button (click)="showcard(1)">Card View</button>
  <button (click)="showlist(2)">List View</button>
  <button (click)="showmap()">Map View</button>
  <button (click)="showorders()">Orders</button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 content" *ngFor="let user of users">
      <div class="card" >
        <div class="top">
          <h2>{{user.FirstName}}</h2>
        </div>
        <div class="card-group">
          <div class="card-body">
            <img class="card-img-top" src="logo.jpeg" alt="Card image" style="width:100%">
          </div>
          <div class="card-body">
            <p class="card-title">{{user.city}}</p>
            <p class="card-text">{{user.state}} </p>
          </div>
        </div>
        <a href="#" class="btn btn-primary" style=" width:120px">View Orders</a>
      </div>

    </div>
    <!-- <div class="col-sm-3 content" style="background-color:rgb(196, 36, 89);">.col-sm-4</div>
    <div class="col-sm-3 content" style="background-color:rgb(68, 49, 13);">.col-sm-4</div>
    <div class="col-sm-3 content" style="background-color:rgb(68, 49, 13);">.col-sm-4</div>

    <div class="col-sm-3" style="background-color:rgb(64, 223, 43);">.col-sm-4</div> -->

  </div>
</div>

<ng-container>
  <div *ngIf="setcardview()">
    <!-- <div class="card" *ngFor="let user of users">
      <div class="top">
        <h4>{{user.Firstname}}</h4>
      </div>
      <div class="line"></div>
      <div class="card-group">
        <div class="card-body">
          <img class="card-img-top" src="logo.jpeg" alt="Card image" style="width:100%">
        </div>
        <div class="card-body">
          <p class="card-title">{{user.city}}</p>
          <p class="card-text">{{user.state}} </p>
        </div>
      </div>
      <a href="#" class="btn btn-primary" style=" width:120px">View Orders</a>
    </div> -->
  </div>
  <div *ngIf="setlistview()">
    <div class="container">
      <h2>Basic Card</h2>
      <div class="card">
        <div class="card-body">Basic card</div>
      </div>
    </div>
  </div>
</ng-container>
