.card{
    width: 290px;
    height: 191px;
    display:flex;
    flex-wrap:row;
    justify-content: space-between    
}

.header{
    display:flex;
    flex-wrap:row;
    justify-content: space-between    
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    }
.content{
    margin-bottom: 40px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}
.top{
    height: 30%;
    background-color: #248ffc;
    color: white;
    padding-left: 25px;
}
.View{
     
}
.name{

}
