.card{
    width:300px ;
    height:300px  ;
    display:flex;
    flex-wrap:row;
    justify-content: space-between    
}

.header{
    display:flex;
    flex-wrap:row;
    justify-content: space-between    
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    }