<div class="header">
  <button (click)="viewType(1)">Card View</button>
  <button (click)="viewType(2)">List View</button>
  <button (click)="viewType(3)">Map View</button>
  <button (click)="showorders()">Orders</button>
</div>

<div class="container-fluid" *ngIf="displayType == 1">
  <div class="row">
    <div class="col-sm-3 content" *ngFor="let user of users">
      <div class="card">
        <div class="top">
          <h2 class="name">{{user.FirstName}}</h2>
        </div>
        <div class="card-group ">
          <div class="card-body">
            <!-- <img class="card-img-top" src="../../assets/manlogo.jpeg" alt="Card image" style="width:100%"> -->
          </div>
          <div class="card-body">
            <p class="card-title">{{user.city}}</p>
            <p class="card-text">{{user.state}} </p>
            <a href="#" class="View" style=" width:120px">View Orders</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="displayType == 2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Order Total</th>
        <th> </th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr class="tabledata">
        <td>"image"</td>
        <td>{{user.FirstName}}</td>
        <td>{{user.LastName}}</td>
        <td>{{user.address ? user.address : "----"}}</td>
        <td>{{user.city}}</td>
        <td>{{user.state}}</td>
        <td>{{user.OrderTotal}}</td>
        <td><a href="#" class="View" style=" width:120px">View Orders</a></td>
      </tr>
    </tbody>
  </table>
</div>
